<section class="py-5 bg-gray mt-auto">
    <div class="container">
        <h2 class="fs-5 text-white">
            Disclaimer
        </h2>
        <p class="text-white">
            This content started purely in a human mind, in terms of topic, structure, and end-goal. About half-way through, I gave in to the temptation and started using ChatGPT to provide suggestions and possible ways to expand and improve the content. The end result was enhanced using Grammarly to remove errors, fix punctuation, and fine-tune my non-native English. This process places the current content at Level 3 on <a href="https://uxdesign.cc/ai-transparency-framework-cf89fa61dc1b" class="text-reset">the AI transparency framework as defined by Josh LaMar on the UX Collective blog</a>.
        </p>
    </div>
</section>

<footer class="footer bg-dark py-5">
    <div class="container">
        <p class="mb-0 text-center text-white">
            Copyright &copy; 2025 | The Pillars of Creation is a project by <a href="https://www.adriansandu.com/" class="text-white">Adrian Sandu</a>
        </p>
    </div>
</footer>