<section class="py-5 bg-gray">
    <div class="container">
        <h2 class="text-center text-white">
            Join the Front End News family
        </h2>

        <p class="text-center text-white mb-3">
            Receive the latest #FrontEndNews straight in your inbox, every Monday.
        </p>

        <figure class="text-center">
            <div class="newsletter-wrapper">
                <script async data-uid="fc657866f1" src="https://creatorclubdev.ck.page/fc657866f1/index.js"></script>
            </div>
            <figcaption class="text-white">
                <strong>No spam, ever!</strong> Your email won't be shared with anyone else and you can opt-out at any time.
            </figcaption>
        </figure>
    </div>
</section>